*{
    padding: 20;
    margin: 20;
}

html,body {
    width: 100%;
    height: 100%
}

.navbar {
    padding: 30px;
    background-color: rgb(100, 80, 218);
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 30px;
    font-weight: 500%;
    color: rgb(254, 254, 255);
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: rgb(255, 255, 255);
    font-size: larger;
    margin: 5px;
}
